/* MultiStepFormExtended.css */

.form-container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: "Montserrat", sans-serif !important;
}

.stepper {
    margin-bottom: 20px;
    background-color: transparent;
}

.stepper .MuiStep-root {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.stepper .MuiStepConnector-line {
    border-top-width: 2px;
    border-top-style: solid; /* Ensures the line is solid */
    border-color: #154192; /* Deep blue color for the line */
}

.step-content {
    margin-top: 20px;
}

.step-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.business-entity-button, .home-based-button {
    height: 56px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: #333;
    margin: 5px; /* Spacing around buttons */
}

.business-entity-button.selected, .home-based-button.selected {
    background-color: #154192 !important;
    border-color:#154192;
    color:#fff;
}

.step-navigation {
    margin-top: 20px;
}

.next-button, .back-button {
    background-color: #154192 !important; /* Light blue background */
    color: #333;
    font-weight: bold;
    margin-top: 20px;
}


/* Additional styles for step 9 */
.step-content button {
    margin: 8px;
    border-radius: 10px; /* Rounded corners for buttons */
    box-shadow: none; /* Remove default MUI button shadows if needed */
    padding: 32px !important;
}

.step-content button:hover {
    /* background-color: #f0f0f0; Light grey background on hover */
    background-color: #154192 !important;
    color: #ffffff !important;
}

/* Ensure buttons are clearly readable and visually appealing */
.step-content button {  
    height: 40px;
    font-size: 16px; /* Suitable font size for readability */
    color: #333; /* Dark font for better contrast */
    border: 1px solid #ccc; /* Subtle borders for buttons */
}
.step-content .MuiButton-contained {
    background-color: #154192 !important; /* Background color for contained buttons */
    color: #FFFFFF; /* Text color for contained buttons */
}

.step-content .MuiButton-contained:hover {
    background-color: #154192 !important; /* Background color for contained buttons on hover */
    color: #FFFFFF; /* Text color for contained buttons on hover */
}



/* Additional styles for the slider */
.MuiSlider-root {
    color: #154192 !important; /* Color for the slider thumb and track */
    margin: 20px; /* Spacing around the slider for better interaction */
}

.back-button {
    background-color: #f0f0f0; /* Light grey background for back button */
    margin-right: 10px;
}

.next-button:disabled {
    background-color: #e0e0e0 !important;  /* Disabled state */
    color: #888;
}